
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>      
     
<<<<<<< HEAD
      <%= link_to "Login", new_user_session_path %>
    
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>

      <%= button_to  "ex", pages_point_path, method: :point, params: { 'achievement' => "click on every link" } %>

=======
   
>>>>>>> a74032d832f45571aa0f7d5846fd67507e382eb1


