<<<<<<< HEAD
      <%= button_to  "ex", pages_point_path, method: :point, params: { 'achievement' => "click on every link" } %>

=======

    
     
>>>>>>> 4702603452ff17105014e9907ff4d30be32d1cfb

<h1>Experience: <%= @person.xp if current_user %> </h1>

