

a { text-decoration: none;
	&:hover {
    color: teal;
  }
}


td:hover {
	background-color: #efefef;
}

table, th, td {
   border-top: 1px solid black;
}

th {
	background-color: teal;
	color: white;
}

img:hover {
	color: #efefef;
}

